data/*
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
gpytoolbox_env/
out/*
!out/build_metrics.py
!out/metrics.json
out?*
test.py
.DS_Store
._*
*.glb
*.so
misc
build
third_party
examples
normalized_examples
gallery/out/*
!gallery/out/metrics.json
!gallery/out/build_metrics.py
/logs
# /debug